{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="example-wrapper">
    <h1>Hello !</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/wamp64/www/idv204/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/wamp64/www/idv204/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div> #}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('feed') }}">Feed</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ asset(app.user.avatar) }}" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ path('user_profile') }}">Profile</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                </div>
            </li>
        </ul>
        {# <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> #}
    </div>
</nav>

<div class="feed-header container">
        <h1 style="float: left;">Article Feed</h1>
        <a href="{{ path('create_post') }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true" style="float: right;">Create new post</a>
    </div>

<div class="container feed-container">
    
    
    {% for i in post %}
    <div class="post">
        <h2>{{ i.title }}</h2>
        <img class="post-image img-fluid" src="{{ asset('images/placeholder.png') }}"/>
        <p>{{ i.content }}</p>
        <p>{{ i.rating }}/5</P>
        <p>By {{ i.author }}</p>
    </div>
    {% endfor %}
</div>
        
        



{% endblock %}